
<div>
    <a href="#" onclick="New()">+ Novo</a>
</div>

<div style="text-align:right; font-weight: bold; text-decoration: underline">
    @ViewBag.projeto.Sigla
</div>


<div class="form-row">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="checkMenusPai" id="checkMenusPai" onclick="Select()">
        <label class="custom-control-label" for="checkMenusPai">Mostrar Menus Pai</label>
    </div>
</div>

<br/>

<div class="form-row">
    <div class="col-1">
        <select name="filtroMenuPai" id="filtroMenuPai" class="form-control" onchange="Select()">
            <option value="0" selected="selected">Filtro Menu Pai</option>
            @foreach (var item in ViewBag.ListaMenuPai){
                <option value="@item.Id">@item.Nome</option>
            }
        </select>
    </div>
    <div class="col-2"></div>    
    <div class="col-1">
        <select name="filtroBack" id="filtroBack" class="form-control" onchange="Select()">
            <option value="0" selected="selected">Filtro Back-End</option>
            <option value="Nao">N찾o</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
    <div class="col-1">
        <select name="filtroFront" id="filtroFront" class="form-control" onchange="Select()">
            <option value="0" selected="selected">Filtro Front-End</option>
            <option value="Nao">N찾o</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
    <div class="col-1">
        <select name="filtroLayout" id="filtroLayout" class="form-control" onchange="Select()">
            <option value="0" selected="selected">Filtro Layout</option>
            <option value="Nao">N찾o</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
        <input type="text" class="form-control" placeholder="Consulta Din창mica" onkeyup="BuscaDinamica(this.value)"/>
    </div>

</div>



<!-- ======== ID DE MODALS CHAMADAS NO ARQUIVO 'Site.js' =============================-->
<div id="createMenu">
</div>

<div id="editMenu">
</div>

<div id="deleteMenu">    
</div>

<div id="detalhesMenu">
</div>

<div id="tabelaItensMenu">
    @await Html.PartialAsync("_TabelaIndex")
</div>