
<p>
    <a asp-action="Create">+ Novo</a>
</p>
<p>
    Projeto: @ViewBag.projeto
</p>



  <div class="form-row">
    <div class="col-2">
        <select name="filtroMenuPai" id="filtroMenuPai" class="form-control" onchange="Atualiza()">
            <option value="0" selected="selected">Filtro Menu Pai</option>
            @foreach (var item in ViewBag.ListaMenuPai){
                <option value="@item.Id">@item.Nome</option>
            }
        </select>
    </div>
    <div class="col-2">
        <select name="filtroBack" id="filtroBack" class="form-control" onchange="Atualiza()">
            <option value="0" selected="selected">Filtro Back-End</option>
            <option value="Nao">Não</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
    <div class="col-2">
        <select name="filtroFront" id="filtroFront" class="form-control" onchange="Atualiza()">
            <option value="0" selected="selected">Filtro Front-End</option>
            <option value="Nao">Não</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
    <div class="col-2">
        <select name="filtroLayout" id="filtroLayout" class="form-control" onchange="Atualiza()">
            <option value="0" selected="selected">Filtro Layout</option>
            <option value="Nao">Não</option>
            <option value="Sim">Sim</option>
            <option value="Em Parte">Em Parte</option>
            <option value="Melhorar">Melhorar</option>
        </select>
    </div>
  </div>


<div id="editMenu">
</div>

<div id="deleteMenu">    
</div>

<div id="detalhesMenu">
</div>

<div id="tabelaItensMenu">
    @await Html.PartialAsync("_TabelaIndex")
</div>