
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Developer</h4>
    <p>Organize suas atividades de desenvolvimento.</p>
    <p>Selecione um dos projetos abaixo ou crie um novo.</p>
</div>

<p>
    <a asp-action="Create">+ Novo</a>
</p>

<table class="table">   
    <thead>
        <tr>
            <th>
                Sigla
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@if (ViewBag.ListaProjetos != null)
{
    @foreach (var item in ViewBag.ListaProjetos) {

        <tr>
            <td>
                <a asp-controller="Menu" asp-action="Index" asp-route-id="@item.Id">
                @item.Sigla
                </a>
            </td>
            <td>
                <a asp-controller="Menu" asp-action="Index" asp-route-id="@item.Id">
                @item.Nome
                </a>
            </td>                               
            <td>
                <a href="#" id="detalhesMenu" onclick="" class="btn btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="" style="color:red">Delete</a> |                
            </td>
        </tr>
    }
}
else{

    <tr>
        <td> colspan="3">
            Não há projetos registrados!
        </td>
          
    </tr>
    
}
    
    
  
    </tbody>
</table>




<!-- ======== ID DE MODALS CHAMADAS NO ARQUIVO 'Site.js' =============================-->
<div id="createProjeto">
</div>

<div id="editProjeto">
</div>

<div id="deleteProjeto">    
</div>

<div id="detalhesProjeto">
</div>
