@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Developer</h4>
    <p>Organize suas atividades de desenvolvimento.</p>
    <p>Filtros práticos para saber o  que está feito e o que  resta  fazer.</p>
</div>
