<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form asp-action="CreateProjeto">
            <div class="form-horizontal">      

                <div class="form-group">
                    <label class="col-md-2 control-label">Sigla</label>
                    <div class="col-md-10">
                        <input type="Text" id="Sigla" name="Sigla"  class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <input type="Text" id="Nome" name="Nome" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Descricao</label>
                    <div class="col-md-10">
                        <textarea id="Descricao" name="Descricao"  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">Linguagem de Programação</label>
                    <div class="col-md-10">
                        <input type="Text" id="Linguagem" name="Linguagem" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Framework</label>
                    <div class="col-md-10">
                        <input type="Text" id="Framework" name="Framework" class="form-control" />
                    </div>                   
                </div>                                               
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Concluir" class="btn btn-info" />
                    </div>
                </div>

            </div>
        </form>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>